body {
    font-family: 'Cherry Swash', cursive;
    font-family: 'Nunito Sans', sans-serif;
}

.header-section {
    background-image: url(donation13.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    background-size: 100% 100%;
    padding: 200px;
}
h1{
    font-size: 40px;
    border: 0px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 10px 15px;
}